body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 29px;
  margin-left: 20px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(56, 20, 239);
 
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Estilo general para todos los botones*/
button{
    border-style: solid;
    border-radius: 7px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

#eliminar_cuenta{  
    border-color: red;
    font-weight: bold;
    transition:  background-color, 0.3s;
    margin-top: 20px;
}

#eliminar_cuenta:hover{
    background-color: red;
}



/*Modal eliminar cuenta*/
/* Fondo modal: negro con opacidad al 50% */
.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
  }
  
  /* Ventana o caja modal */
  .contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 25%;
    border-radius: 20px;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  }

  .contenido-modal h2{
    font-size: 33px;
    margin-top: -10px;
  }

  .contenido-modal span{
    cursor: pointer;
    
  }

  .contenido-modal span:hover{
    color: red;
  }

  
  /* Animación */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Botón cerrar */
  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  #contenedor_botones{
    display: flex;
    justify-content: center;
  }

  #confirmar_eliminar_cuenta{  
    border-color: red;
    font-weight: bold;
    margin-right: 20px;
    transition:  background-color, 0.3s;
}

#confirmar_eliminar_cuenta:hover{
    background-color: red;
}

#cancelar{  
    font-weight: bold;
    margin-right: 20px;
    transition:  background-color, 0.3s;
}

#cancelar:hover{
    background-color: rgb(145, 145, 145);
}

/*contenedor que contiene todos los fieldsets*/
#configuracion_cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset:disabled{
    pointer-events: revert;
    opacity: revert;
}

fieldset {
    min-width: revert;
    padding: revert;
    margin: revert;
    border: revert;
}

fieldset{
    width: 700px;
}

legend{
    
    float: none;
    font-size: 33px;
    font-weight: bold;
}

fieldset span{
    font-size: 22px;
    font-weight: bold;
}

fieldset p{
    font-size: 22px;
}

fieldset div{
    display: flex;
    align-items: center;
}


#nivel_cuenta{
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    background-image: linear-gradient(to right, rgb(56, 20, 239), rgb(166, 50, 255));
    border-radius: 10px;
    padding-block: 6px;
    padding-inline: 8px;
    width: 95px;
}